[Unit]
Description=Standard BT controller service
After=bluetooth.target

[Service]
RestartSec=10
Restart=on-failure
ExecStart=/bin/bash /boot/pi-board/bluetooth/connect-controller.sh
User=root

[Install]
WantedBy=multi-user.target
